*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Consolas,monospace;
}

body{
height:100vh;
overflow:hidden;
background:#000;
display:flex;
justify-content:center;
align-items:center;
color:#00ff66;
}

.background{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:
linear-gradient(rgba(0,0,0,.92),rgba(0,0,0,.92)),
url("https://tse4.mm.bing.net/th/id/OIP.rsjgdOrbVL8VxnGcqkknjAHaHa?r=0&rs=1&pid=ImgDetMain&o=7&rm=3");

background-size:cover;
background-position:center;

z-index:-2;

}

.background::before{

content:"";

position:absolute;

width:100%;
height:100%;

background:
repeating-linear-gradient(
0deg,
transparent,
transparent 2px,
rgba(0,255,0,.05) 3px
);

animation:scan 6s linear infinite;

}

@keyframes scan{

0%{
transform:translateY(-100%);
}

100%{
transform:translateY(100%);
}

}

.terminal{

width:750px;

max-width:95%;

padding:40px;

background:rgba(0,0,0,.70);

border:2px solid #00ff66;

box-shadow:
0 0 20px #00ff66,
0 0 60px rgba(0,255,0,.4);

border-radius:15px;

}

h1{

text-align:center;

font-size:34px;

margin-bottom:10px;

color:#00ff66;

text-shadow:0 0 15px #00ff66;

}

h2{

text-align:center;

margin-bottom:35px;

color:#00ffaa;

}

.line{

font-size:20px;

margin:12px 0;

min-height:30px;

}

.success{

font-size:24px;

font-weight:bold;

color:#00ff66;

}

.progress{

margin-top:35px;

width:100%;

height:18px;

background:#111;

border-radius:30px;

overflow:hidden;

border:1px solid #00ff66;

}

#bar{

height:100%;

width:0%;

background:linear-gradient(90deg,#00ff66,#00ffff);

transition:.3s;

}

#percent{

text-align:center;

margin-top:15px;

font-size:26px;

font-weight:bold;

color:#00ff66;

}
#welcome{

margin-top:25px;

font-size:28px;

text-align:center;

color:#00ff66;

text-shadow:0 0 15px #00ff66;

}

#server{

margin-top:20px;

text-align:center;

font-size:20px;

color:#00ffaa;

}

.scan-box{

margin:35px auto;

width:170px;

height:170px;

border:2px solid #00ff66;

border-radius:12px;

position:relative;

overflow:hidden;

display:flex;

justify-content:center;

align-items:center;

box-shadow:0 0 20px #00ff66;

}

.fingerprint{

font-size:80px;

opacity:.8;

}

.scan-line{

position:absolute;

top:-100%;

left:0;

width:100%;

height:35px;

background:rgba(0,255,0,.4);

animation:scanMove 2s linear infinite;

}

@keyframes scanMove{

0%{
top:-35px;
}

100%{
top:170px;
}

}

.cursor{

display:inline-block;

width:10px;

background:#00ff66;

animation:blink .8s infinite;

}

@keyframes blink{

50%{

opacity:0;

}

}
